<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/favicon.svg" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
    <link rel="stylesheet" href="../styles/main/main.css">
    <title><%= title %></title>
</head>

<body>
    <div id='modal-wrapper' class='active-modal'>
        <div class='modal'>
            <span class='material-icons-round warning-icon'>close</span>
            <h4 id='scheduled-appointment'>Login Inválido</h4>
            <small>Preencha os campos e tente se logar novamente.</small>
            <div id='modal-content'>
                <a href="/login">Voltar para Login</a>
            </div>
        </div>
    </div>
</body>

</html>