<div class="chat-bar-collapsible">
    <button id="chat-button" type="button" class="collapsible">
        <span style="color: #fff;" class="material-icons-round">
            question_answer
        </span>
        Fale com o Médi
    </button>
    <div class="content">
        <div class="full-chat-block">
            <div class="outer-container">
                <div class="chat-container">
                    <div id="chatbox">
                        <h5 id="chat-timestamp"></h5>
                        <p id="botStarterMessage" class="botText"><span>Loading...</span></p>
                    </div>
                    <div class="chat-bar-input-block">
                        <div id="userInput">
                            <input id="textInput" class="input-box" type="text" name="msg"
                                placeholder="Digite aqui a sua mensagem">
                            <p></p>
                        </div>
                        <div class="chat-bar-icons">
                            <span style="color: rgb(255, 255, 255);" class="material-icons-round chat-icon"
                                onclick="sendButton()">
                                send
                            </span>
                        </div>
                    </div>
                    <div id="chat-bar-bottom">
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>