<header>
    <nav style="padding: 2rem 3rem;">
        <img src="../../assets/logoalt.svg" alt="">
            
        <ul>
            <li>
                <a href="/" class="logout">
                    <span class="material-icons-round">
                        logout
                    </span>
                    <p>Sair</p>
                </a>
            </li>
        </ul>
    </nav>
</header>