<section class="sidebar">
    <nav>
        <ul>
            <li class="sidebar-list-item">
                <a href="/menu/med">
                    <span class="material-icons-round">
                        home
                    </span>
                    <p class="sidebar-paragraph">Home</p>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" class="accordion sidebar-list-item">
                    <span class="material-icons-round">
                        menu_book
                    </span>
                    <p class="sidebar-paragraph">Prontuário <span class="material-icons-round">expand_more</span></p>
                </a>
                <div class="panel">
                    <ul>
                        <li>
                            <a href="/menu/med/verprontuario">
                                <span class="material-icons-round">
                                    library_books
                                </span>
                                <p class="sidebar-paragraph">Consultar Prontuário</p>
                            </a>
                        </li>
                        <li>
                            <a href="/menu/med/novoprontuario">
                                <span class="material-icons-round">
                                    post_add
                                </span>
                                <p class="sidebar-paragraph">Novo Prontuário</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="javascript:void(0)" class="docs accordion sidebar-list-item">
                    <span class="material-icons-round">
                        article
                    </span>
                    <p class="sidebar-paragraph">Documentos <span class="material-icons-round">expand_more</span></p>
                </a>
                <div class="docs-panel">
                    <ul>
                        <li>
                            <a href="/menu/med/atestado">
                                <span class="material-icons-round">
                                    library_books
                                </span>
                                <p class="sidebar-paragraph">Atestado Médico</p>
                            </a>
                        </li>
                        <li>
                            <a href="/menu/med/receituario">
                                <span class="material-icons-round">
                                    edit_note
                                </span>
                                <p class="sidebar-paragraph">Receituário</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="javascript:void(0)" class="schedule accordion sidebar-list-item">
                    <span class="material-icons-round">
                        calendar_month
                    </span>
                    <p class="sidebar-paragraph">Agenda <span class="material-icons-round">expand_more</span></p>
                </a>
                <div class="schedule-panel">
                    <ul>
                        <li>
                            <a href="/menu/med/calendar/today">
                                <span class="material-icons-round">
                                    today
                                </span>
                                <p class="sidebar-paragraph">Hoje</p>
                            </a>
                        </li>
                        <!--li>
                            <a href="/menu/med/calendar/thisweek">
                                <span class="material-icons-round">
                                    date_range
                                </span>
                                <p class="sidebar-paragraph">Esta semana</p>
                            </a>
                        </li-->
                    </ul>
                </div>
            </li>
        </ul>
    </nav>
</section>