<section class="sidebar">
    <nav>
        <ul>
            <li class="sidebar-list-item">
                <a href="/menu/sec">
                    <span class="material-icons-round">
                        home
                    </span>
                    <p class="sidebar-paragraph">Home</p>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" class="accordion sidebar-list-item">
                    <span class="material-icons-round">
                        menu_book
                    </span>
                    <p class="sidebar-paragraph">Consultas<span class="material-icons-round">expand_more</span></p>
                </a>
                <div class="panel">
                    <ul>
                        <li>
                            <a href="/menu/agendarconsulta">
                                <span class="material-icons-round">
                                    library_books
                                </span>
                                <p class="sidebar-paragraph">Agendar Consultas</p>
                            </a>
                        </li>
                        <li>
                            <a href="/menu/cancelarconsulta">
                                <span class="material-icons-round">
                                    edit_note
                                </span>
                                <p class="sidebar-paragraph">Cancelar Consultas</p>
                            </a>
                        </li>
                        <li>
                            <a href="/menu/listarconsultas">
                                <span class="material-icons-round">
                                    view_list
                                </span>
                                <p class="sidebar-paragraph">Listar Consultas</p>
                            </a>
                        </li>
                        <!--li>
                            <a href="/menu/reagendarconsulta">
                                <span class="material-icons-round">
                                    post_add
                                </span>
                                <p class="sidebar-paragraph">Remarcar Consultas</p>
                            </a>
                        </li-->
                    </ul>
                </div>
            </li>
            <li>
                <a href="javascript:void(0)" class="patient-acc accordion sidebar-list-item">
                    <span class="material-icons-round">
                        group
                    </span>
                    <p class="sidebar-paragraph">Paciente<span class="material-icons-round">expand_more</span></p>
                </a>
                <div class="patient-panel">
                    <ul>
                        <li>
                            <a href="/menu/sec/cadastrarpaciente">
                                <span class="material-icons-round">
                                    add
                                </span>
                                <p class="sidebar-paragraph">Cadastrar Paciente</p>
                            </a>
                        </li>
                        <li>
                            <a href="/menu/sec/listarpacientes">
                                <span class="material-icons-round">
                                    view_list
                                </span>
                                <p class="sidebar-paragraph">Listar Paciente</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </nav>
</section>