$black: rgb(0, 0, 0);
$black25: rgba(0, 0, 0, 0.25);
$black15: rgba(0, 0, 0, 0.15);

$blue200: rgb(0, 149, 255);
$blue400: rgb(0, 61, 214);
$blue500: rgb(30, 73, 182);
$blue800: rgb(9, 38, 112);
$blue900: rgb(20, 40, 112);

$grey100:rgb(187, 187, 187);
$grey800:rgb(112, 112, 112);
$grey900:rgb(82, 82, 82);

$red: rgb(255, 0, 0);

$white: rgb(255, 255, 255);
$white10: rgba(255, 255, 255, 0.1);
$white50: rgba(255, 255, 255, 0.5);